# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Terraform files
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/*.tfvars
infra/.terraformrc
infra/terraform.rc
infra/crash.log
infra/crash.*.log
infra/.terraform.lock.hcl

# Ignore override files as they are usually used to override resources locally and don't need to be committed
infra/override.tf
infra/override.tf.json
infra/*_override.tf
infra/*_override.tf.json

.env
